<html>
  <head>
    <title>Kanaru Sasaki - Contact Received</title>
  </head>
  <body>
    <main>
      <p>Dear {{customer_name}},</p>
      <p>Thank you for getting in touch. This is an automated message to confirm
        that I have received your Contact and I appreciate your interest in my
        services.</p>
      <p>I will review your Contact and will respond as soon as possible. If you
        have any additional questions or concerns, please feel free to reach out
        to me directly at
        {{owner_email}}.</p>
      <p>Best regards,<br />Kanaru Sasaki</p>
      <p></p>
    </main>
  </body>
</html>