<html>
  <head>
    <title>Kanaru Sasaki - Contact Received</title>
  </head>
  <body>
    <main>
      <p>Dear {{customer_name}},</p>
      <p>Good day, sir. Thank you for reaching out. This is an automated message
        to confirm that I have received your contact, and I appreciate your
        interest in my services.</p>
      <p>I will carefully review your message and respond to you as soon as
        possible. Should you have any further questions or concerns, please do
        not hesitate to contact me directly at
        {{owner_email}}.</p>
      <p>Best regards,<br />Kanaru Sasaki</p>
    </main>
  </body>
</html>