<html>
  <head>
    <title>New Contact Form Submission</title>
  </head>
  <body>
    <main>
      <p>Dear Kanaru,</p>
      <p>
        Good day, sir. You have received a new contact form submission from your
        website. Please find below the relevant details:
      </p>
      <div>Name : {{customer_name}}</div>
      <div>Email : {{customer_email}}</div>
      <div>Message : {{customer_message}}</div>
      <p>The message that has been sent to the customer is as follows:</p>
      <hr />
      <div>{{{to_customer_html}}}</div>
      <hr />
      <p>
        Kindly follow up with the sender at your earliest convenience. Thank you
        for your attention to this matter.
      </p>
      <p>Best regards,<br />Kanaru Sasaki</p>
    </main>
  </body>
</html>