:root {
  --bg: oklch(14.5% 0 0);
  --bg-light: oklch(26.9% 0 0);
  --gradient: linear-gradient(var(--bg-light), var(--bg));
  --text: oklch(92.2% 0 0);
  --text-muted: oklch(70.8% 0 0);
}

body {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  min-height: 100svh;
  margin: 0 auto;
  background: var(--gradient);
  color: var(--text);
  font:
    16px system-ui,
    sans-serif;
  line-height: 28px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  padding: 32px;
  text-align: center;
  font-size: 14px;
}

h1 {
  font-size: 24px;
}

a {
  color: var(--text);
  text-decoration: underline;
}

a:hover {
  color: var(--text-muted);
}

.links {
  display: flex;
  gap: 16px;
}

.profile {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 40px;
}

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

@media (width >= 40rem) {
  .avatar {
    width: 172px;
    height: 172px;
  }
}

@media (width >= 48rem) {
  h1 {
    font-size: 32px;
  }

  .profile {
    gap: 48px;
  }

  .avatar {
    width: 256px;
    height: 256px;
  }
}
