body {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  min-height: 100svh;
  margin: 0 auto;
  background-color: #222;
  color: #fff;
  font:
    16px system-ui,
    sans-serif;
  line-height: 28px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  padding: 32px;
  text-align: center;
  font-size: 14px;
}

h1 {
  font-size: 32px;
  line-height: 48px;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  color: #aaa;
}

.links {
  display: flex;
  gap: 16px;
}

.avatar {
  border-radius: 50%;
}
