---
import { Image } from "astro:assets";
import AvatarSadImage from "@/assets/avatar-sad.webp";
---

<div class="profile">
  <Image
    alt="avatar"
    class="avatar"
    decoding="sync"
    fetchpriority="high"
    height={256}
    loading="eager"
    sizes="256px"
    src={AvatarSadImage}
    width={256}
    widths={[256, 512]}
  />
  <h1>404 Not Found</h1>
</div>

<p>
  Sorry, we couldn’t find the page you were looking for.
  <br />
  It might have been moved or deleted.
</p>
<p>
  <a data-astro-prefetch="load" href="/"> Return Home </a>
</p>
