---
import { Image } from "astro:assets";
import SadImage from "@/assets/sad.webp";
---

<>
  <Image
    alt="sad avatar"
    class="avatar"
    decoding="async"
    height={256}
    loading="lazy"
    sizes="256px"
    src={SadImage}
    width={256}
    widths={[256, 512]}
  />
  <h1>404 Not Found</h1>
  <p>
    Sorry, we couldn’t find the page you were looking for.
    <br />
    It might have been moved or deleted.
  </p>
  <p>
    <a href="/"> Return Home </a>
  </p>
</>
