---
const title = "404 Not Found";
---

<>
  <img
    alt="avatar"
    class="avatar"
    fetchpriority="high"
    height="256px"
    src="/sad.webp"
    width="256px"
  />
  <h1>{title}</h1>
  <p>
    Sorry, we couldn’t find the page you were looking for.
    <br />
    It might have been moved or deleted.
  </p>
  <p>
    <a href="/"> Return Home </a>
  </p>
</>
