name: Static analysis

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  static-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"
      - run: npm ci
      - run: npm run lint
      - run: npm run build
